<h2>
  Study Programs
</h2>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let program of studyPrograms; let i=index">
    <mat-expansion-panel-header>
      <mat-panel-title> {{program.name}} </mat-panel-title>
      <mat-panel-description> {{program.id}} </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card>
      <mat-card-title>About</mat-card-title>
      <mat-card-content>Ipsum sapiente enim possimus assumenda veniam doloribus occaecati. Doloremque qui iusto dolores ipsam laboriosam voluptatum eius soluta. Quaerat beatae ea perferendis alias aliquid voluptatum. Qui assumenda et aspernatur quo sed explicabo. Aut voluptate error suscipit.</mat-card-content>
      <mat-card-subtitle>Rating: 1/5</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button>Details</button>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="!isReviewsEmpty(i)">
      <mat-card-title>Reviews</mat-card-title>
      <app-review-display [reviews]="program.reviews"></app-review-display>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>

<!--TODO: use this for input form or delete it-->
<!--<h2>{{studyPrograms[0].name | uppercase}} Details</h2>-->
<!--<div><span style="color:red">id: </span>{{studyPrograms[0].id}}</div>-->
<!--<div><span style="color:red">name: </span>{{studyPrograms[0].name}}</div>-->

<!--<div>-->
<!--  <label for="name">Study Program: </label>-->
<!--  <input id="name" [(ngModel)]="studyPrograms[0].name" placeholder="name">-->
<!--</div>-->
