<mat-card>
  <mat-card-title>Login form</mat-card-title>
  <mat-card-subtitle>Please enter your login credentials</mat-card-subtitle>
  <form (ngSubmit)="onSubmit(login)" class="login-form" #login="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter your username</mat-label>
      <input matInput [(ngModel)]="usernameInput" name="usernameInput" placeholder="Username">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Student code</mat-hint>
    </mat-form-field>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [(ngModel)]="passwordInput" name="passwordInput" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>
  </form>

  <button color="primary" [disabled]="!login.form.valid" (click)="onSubmit(login)" mat-raised-button>LOGIN</button>
  <button color="warn" (click)="onLogout()" mat-raised-button>LOGOUT</button>
</mat-card>
