<mat-toolbar color="primary">
  <span class="toolbar-spacer">Faculty of Fundamental Sciences</span>
  <button mat-raised-button (click)="reviewButtonClick()">Review</button>
</mat-toolbar>

<app-contact-support></app-contact-support>
<app-login-form></app-login-form>
<app-study-program-display></app-study-program-display>

<!--Review dialog button-->
<!--<button mat-raised-button (click)="reviewButtonClick()">Review</button>-->

<!--Basic routing example-->
<!--<h1>Angular Routing</h1>-->

<!--<nav>-->
<!--  <ul>-->
<!--    <li>-->
<!--      <a routerLink="/app-root" routerLinkActive="active">Root Component</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/app-study-program-display" routerLinkActive="active">Study Program Display Component</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/app-review-input-form" routerLinkActive="active">Review Input Form Component</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->

<!--<router-outlet></router-outlet>-->
